.copy{
  color: var(--footer-color);
}

.copy-name {
  margin-left: 6px;
}

.copy-name:hover {
  color: yellowgreen;
  transition-duration: 1s;
}

hr {
  width: 100%;
  border: 1px solid var(--footer-color);
}

input[type=checkbox]  {
  display: flex;
  width: 100%;
  margin-top: 10rem;
  cursor: pointer;
}

.container-button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-dark-mode {
  margin: auto;
  padding: 1.3em 3em;
  color: #000;
  background-color: var(--footer-color);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.button-dark-mode:hover {
  background-color: yellowgreen;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.button-dark-mode:active {
  transform: translateY(-1px);
}

