.home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/background-menu.png);
  box-shadow: inset 0px -40px 40px var(--body-color);
}
.profile {
  display: flex;
  justify-content: center;
  margin: 13.5rem;
}

.profile__text {
  font-size: 1.5rem;
  color: #fff;
}

.profile__name {
  font-size: 4rem;
  color: yellowgreen;
}
