:root {
  --color-main: yellowgreen;
  --gradient-color: #444;
  --second-color-gradient: #000;
  --social-hover: #9562f3;
  --skills-color: #478c5c;
  --deafault-color: #fff;
}

.dark-mode:root {
  --color-main: #fff;
  --gradient-color: #fff;
  --second-color-gradient: #fff;
  --social-hover: #fff;
  --skills-color: #fff;
  --deafault-color: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu';
}

html {
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-areas: 'content';
  font-family: 'Ubuntu', sans-serif;
  color: var(--deafault-color);
  background-color: #000;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: var(--gradient-color);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-main);
  border-radius: 20px;
  border: 2px solid var(--gradient-color);
}

main {
  grid-area: content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  grid-area: content;
  z-index: 1000;
  width: 100%;
  place-self: start center;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  height: 100vh;
}

footer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
