:root {
  --body-color: #000;
  --tittle-gradient-color: #444;
  --tittle-second-color-gradient: #000;
  --text-about-me: #fff;
  --social-hover: #9562f3;
  --skills-color: #478c5c;
  --shadow-skills: #fff;
  --social-color: #000;
  --background-social: #fff;  
  --footer-color: #fff;
  --button-color: transparent;
  
}

.dark-mode:root {
  --body-color: #fff;
  --tittle-gradient-color: #444;
  --tittle-second-color-gradient: #000;
  --text-about-me: #000;
  --social-hover: #fff;
  --shadow-skills: #000;
  --footer-color: #000;
  --social-color: #fff;
  --background-social: #000;
  --button-color: #000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu';
  
}

html {
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-areas: 'content';
  font-family: 'Ubuntu', sans-serif;
  color: var(--body-color);
  background-color: var(--body-color);
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: var(--tittle-gradient-color);
}

body::-webkit-scrollbar-thumb {
  background-color: yellowgreen;
  border-radius: 20px;
  border: 2px solid var(--tittle-gradient-color);
}

main {
  grid-area: content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  grid-area: content;
  z-index: 1000;
  width: 100%;
  place-self: start center;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  height: 100vh;
}

footer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

