*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu' ;
}

html {
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-areas: 'content';
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
  background-color: #000;  
}

body::-webkit-scrollbar {
  width: 12px;               
}

body::-webkit-scrollbar-track {
  background: #444;        
}

body::-webkit-scrollbar-thumb {
  background-color: yellowgreen;    
  border-radius: 20px;       
  border: 2px solid #444;  
}

main {
  grid-area: content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  grid-area: content;
  z-index: 1000;
  width: 100%;
  place-self: start center;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  height: 100vh;
}